//
// About Section
//

#about {
    .schedule-btn {
        background-color: $white;
        color: rgba(var(--bs-black-rgb), var(--bs-text-opacity));
    }
    .schedule-btn:hover {
        background-color: #1abc9c;
        color: $white;
    }
}