// 
// Portfolio
// 

.portfolio {
            .portfolio-item {
        cursor: pointer;
        position: relative;
        display: block;
        width: 100%;
        height: 12rem;
        border-radius: $border-radius;
        overflow: hidden;

        // Responsive sizing
        @include media-breakpoint-up(sm) {
            width: 18rem;
            height: 13.5rem;
        }

        @include media-breakpoint-up(md) {
            width: 20rem;
            height: 15rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
            display: block;
        }

        .portfolio-item-caption {
            position: absolute;
            top: 0;
            left: 0;
            transition: $transition-base;
            opacity: 0;
            background-color: fade-out($primary, .1);

            &:hover {
                opacity: 1;
            }

            .portfolio-item-caption-content {
                font-size: 1.5rem;
            }
        }
    }
}

// Styling for the portfolio modals
.portfolio-modal {
    .btn-close {
        color: $primary;
        font-size: 2rem;
        padding: 1rem;
    }

    .portfolio-modal-title {
        font-size: 2.25rem;
        line-height: 2rem;

        @include media-breakpoint-up(lg) {
            font-size: 3rem;
            line-height: 2.5rem;
        }
    }
}
