// Portfolio Modal 3
#portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal3', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 AddThis
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/addthis-line.png', alt='AddThis Line Chart')
                            // Portfolio Modal - Text
                            p.mb-4
                                | Provided data analysis to optimize business operations built with Java (Spring Framework), SQL, D3, Hydra (internal data warehouse) and Backbone/jQuery with custom ETL solutions with Jenkins CI/CD
                                br
                                | Spearheaded analytics dashboards using Angular/Ember frameworks, D3 chart library, PHP and Java based in-house data warehouse
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window